<div class="heading">
  <div class="row">
    <div class="col-md-6">
      <h1>Saved Planograms</h1>
    </div>
    <div class="col-md-3 col-sm-offset-3">
        <div id="imaginary_container"> 
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search">
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
        </div>
    </div>
  </div>
</div> 
<div class="container-fluid">
  <div id="users">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>
  <button class="sort" data-sort="number">
    Sort by number
  </button>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Markets</th>
            <th>Author</th>
            <th>Created</th>
        </tr>
      </thead>
      <tbody class="list">
        <% for (var data of data) { %> 
        <tr>
            <td class="number"><%= data.number %></td>
            <td class="name"><%= data.name %></td>
            <td class="markets"><%= data.markets %></td>
            <td class="author"><%= data.author %></td>
            <td class="created"><%= data.created %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<!-- <script src="//listjs.com/assets/javascripts/list.min.js"></script> -->
<script type="text/javascript">
var options = {
  valueNames: [ 'name', 'number', 'markets', 'author', 'created' ]
};

var userList = new List('users', options);
</script>