<div class="container-fluid">
  <div id="users">
    <div class="heading">
      <div class="row">
        <div class="col-md-6">
          <h1>Saved Planograms</h1>
        </div>
        <div class="col-md-3 col-sm-offset-3" id="imaginary_container"> 
          <div class="input-group stylish-input-group">
            <input class="search pull-right form-control" placeholder="Search" />
            <span class="input-group-addon">
              <i type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </i>  
            </span>
          </div>
        </div>            
      </div><!-- row-->
    </div><!-- heading-->
    <table class="table table-hover">
      <thead>
        <tr>
          <th><p class="sort" data-sort="number">Number</p></th>
          <th><p class="sort" data-sort="name">Name</p></th>
          <th><p class="sort" data-sort="markets">Markets</p></th>
          <th><p class="sort" data-sort="author">Author</p></th>
          <th><p class="sort" data-sort="created">Created</p></th>
        </tr>
      </thead>
      <tbody class="list">
        <% for (var data of data) { %> 
          <tr>
            <td class="number"><%= data.number %></td>
            <td class="name"><%= data.name %></td>
            <td class="markets"><%= data.markets %></td>
            <td class="author"><%= data.author %></td>
            <td class="created"><%= data.created %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div><!-- users -->
</div><!-- container-fluid-->

<script type="text/javascript">
  var options = {
    valueNames: [ 'name', 'number', 'markets', 'author', 'created' ]
  };

  var userList = new List('users', options);
</script>
